//брэкпоинты
// $tel: 375;
// $phone: 600;
// $tablet: 768;
// $tablet-2: 992;
// $desktop: 1230;


$white: #ffffff;
$black: #272727;
$dark: #000000;
$orange: #FF6B00;

%roboto {
  font-family: 'Roboto', sans-serif;
}

